<body>

  <div class="mostrador">
    <p>Vez do jogador:</p>
    <img src="\assets\X.png" alt="">

  </div>

  <div class="tabuleiro">
    <div id="a1" class="espaco" jogada=""> <img src="\assets\O.png" alt=""></div>
    <div id="a2" class="espaco" jogada=""><img src="\assets\X.png" alt=""></div>
    <div id="a3" class="espaco" jogada=""></div>

    <div id="b1" class="espaco" jogada=""></div>
    <div id="b2" class="espaco" jogada=""><img src="\assets\X.png" alt=""></div>
    <div id="b3" class="espaco" jogada=""></div>

    <div id="c1" class="espaco" jogada=""></div>
    <div id="c2" class="espaco" jogada=""><img src="\assets\X.png" alt=""></div>
    <div id="c3" class="espaco" jogada=""><img src="\assets\O.png" alt=""></div>
  </div>

  <br>
</body>


