<body>

  <table>
    <tr>
      <th>Microsoft</th>
      <th>.NET</th>
      <th>Angular</th>
      <th>JavaScript</th>
    </tr>
    <tr>
      <td>
        <img class="certifica" style="width: 200px" src="../../assets/Az900.JPG" alt="AZ-900">
      </td>

      <td>
        <img class="certifica" style="width: 200px" src="../../assets/DotNet.jpg" alt=".NET">
      </td>

      <td>
        <img class="certifica" style="width: 200px" src="../../assets/Angular.jpg" alt="Angular">
      </td>

      <td>
        <img class="certifica" style="width: 200px" src="../../assets/JS.jpg" alt="JS"><br> <br>
      <!--  <img class="certifica" style="width: 200px" src="../../assets/JS2.jpg" alt=""> -->
      </td>
    </tr>
    <tr>
      <th>HTML e CSS</th>
      <th>Java</th>
      <th>Kotlin</th>
      <th>Scrum</th>
    </tr>
    <tr>
      <td>
        <img class="certifica" style="width: 200px" src="../../assets/MTA98-383.PNG" alt=""> <br> <br>
        <img class="certifica" style="width: 200px" src="../../assets/Responsive Web.png" alt="">
      </td>

      <td>
        <img class="certifica" style="width: 200px" src="../../assets/Java.jpg" alt="">
      </td>

      <td>
        <img class="certifica" style="width: 230px" src="../../assets/Kotlin.jpg" alt="">
      </td>

      <td>
        <img class="certifica" style="width: 230px" src="../../assets/Scrum.JPG" alt="">
      </td>
    </tr>

  </table>


</body>
