
<header >
<nav class="navbar fixed-top">
  <h2>Paula Bruno Developer</h2>

  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="certificacao">Certificações</a>
    <a routerLink="projects">Projetos</a>
    <a routerLink="contato" >Contato</a>

  </nav>

</nav>
</header>

  <!-- Houter-->
  <router-outlet></router-outlet>

  <footer>
    <nav>
      <a href="https://www.facebook.com/PaulinhaRJ" target="_blank" >Facebook</a>
      <a  href="https://www.instagram.com/paularerj/" target="_blank">Instagram</a>
      <a  href="https://www.linkedin.com/in/paula-bruno/" target="_blank" >Linkedin</a>
      <a href="https://twitter.com/PaulaReRJ" target="_blank">Twitter</a>
    </nav>
  </footer>

