<body>

  <section>
    <img class="avatar" src="../../assets/eu.jpg" alt="Paula">
  </section>

  <article>
    <ol>
      <li> Pessoal: Carioca, mãe, esposa, 46 anos. </li>
      <li> Formação:</li>
      <ul>
        <li>Engenharia de Software (Cursando)</li>
        <li>Marketing (Cursando)</li>
        <li>Letras</li>
      </ul>
    </ol>


      Certificações Microsoft:
      <ul>
        <li>AZ-900 Azure Fundamentals</li>
        <li>MTA: Introduction to Programming Using HTML and CSS</li>

      </ul>

  </article>


</body>



