body{
  height: auto;
  width: 100vw;
  padding: 20px;
  display: flex;
  position: relative;
  background-color: var(--fundo);
  color: white;
}
.avatar{
  height: 400px;
  border-radius:50%;
}

article{
  font-weight: bold;
  font-size: 20px;
  color: white;
  position: absolute;
  margin-left: 600px;
  margin-top: 20px;
}


