<header>
  <h1>Paula Bruno Developer</h1>

  <nav>
    <a href="#">Home</a>
    <a href="#">Projetos</a>
    <a href="#">Contato</a>
  </nav>

</header>

<body>

  <section>
    <img class="avatar" src="../../assets/eu.jpg" alt="Paula">
  </section>

  <article>
    <ol>
      <li> Pessoal: Carioca, mãe, esposa, 46 anos. </li>
      <li> Formação:</li>
      <ul>
        <li>Engenharia de Software (Cursando)</li>
        <li>Marketing (Cursando)</li>
        <li>Letras</li>
      </ul>
    </ol>


      Certificações Microsoft:
      <ul>
        <li>AZ-900 Azure Fundamentals</li>
        <li>MTA: Introduction to Programming Using HTML and CSS</li>

      </ul>

  </article>


</body>

<footer>
  <nav class="nav-redes">
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Linkedin</a>
  </nav>
</footer>

